<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Fwitter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/"><h3 class="navbar-text">Fwitter</h3></a>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <div class="container">
      <div class="col-sm-8">
        <h1>Welcome to Fwitter.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis dolor et odio porta mattis vel sit amet urna. Maecenas varius malesuada accumsan. Donec justo magna, lacinia in arcu ac, elementum rutrum sem. Quisque malesuada aliquam metus, sit amet porttitor tellus auctor sed. In condimentum ac massa id dictum. Sed a nunc at erat placerat tristique. Donec et vehicula nibh. Nullam tincidunt accumsan lorem a ullamcorper. Mauris aliquam quam eget velit tincidunt cursus. Nullam mattis elit in est pretium, et fermentum quam placerat. Sed quam nibh, pulvinar sit amet scelerisque at, luctus a metus. In rutrum suscipit sem. Aenean quis rhoncus diam. Integer et leo vel dui luctus luctus. Nam facilisis imperdiet eros et vestibulum.</p>
      </div>
      <div class="col-sm-4">
          <form class="white-box">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="email" name="user">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="password" name="password">
              </div>
              <a href="/tweet"><div class="submit btn btn-primary">Log in</div></a>
            </div>
          </form>
          <form class="white-box-v2">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="full name" name="name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="email" name="email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="password" name="password">
              </div>
            </div>
            <a href="/tweet"><div class="btn btn-primary col-sm-5 col-md-offset-6">Sign Up for Fwitter</div></a>
          </form>
      </div>
    </div>
  </body>
</html>